@model core2.Model.EmployeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<script>

    function funcxx() {

        return false;
    }

</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazerDemo</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>



    @Html.DropDownList("YourPropertyName", new SelectList(Model.Employees.Select(u => u.FirstName).ToList()), "Value", "Text")
    @Html.TextBoxFor(m => Model.Employees, new { @class = "normalcell", size = "38", maxlength = "255" ,@onkeydown="return false"})
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>last name</th>
                <th>City id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.Id </td>
                    <td> @item.FirstName</td>
                    <td> @item.LastName</td>
                    <td> @item.CityId</td>
                    <td>@@ buradayım</td>
                </tr>
            }
        </tbody>
    </table>
    <p>@DateTime.Now</p>
    <p>
        @{var date = DateTime.Now - TimeSpan.FromDays(3);
            var number = 10;
        }
    </p>
    <p>@date</p>

    @if (number < 10)
    {<p>Your numer küçük 10</p>

    }
    else if (number == 10)
    {
        <p>numaran 10</p>
    }
    else
    {

        <p>ur number 10dan büyük</p>
    }

    @using (Html.BeginForm())
    {
        <input type="text" id="" name="" />
        <button type="submit"></button>

    }


</body>
</html>
